<div>
    <div class="container">

        <div class="title">Customers</div>


        <div class="header-container">
            <div>Select Columns: </div>
            <div class="column-selector-wrapper" (click)="select.toggle()"><i class="fas fa-columns"></i></div>
            <mat-form-field class="mat-select-hide">
                <mat-select #select placeholder="column" multiple [(ngModel)]="displayedColumns">
                    <mat-option *ngFor="let column of availableColumns" [value]="column">{{column}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <mat-table #table matSort [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="customerID">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <div class="column-header" >
                        <span>Customer ID</span>
                        <input placeholder="Filter"  (click)="$event.stopPropagation()" class="filter-input" (keyup)="filter('customerID', $event.target.value)" />
                    </div>
                </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.customerID}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="companyName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <div class="column-header">
                        <span>Company Name</span>
                        <input placeholder="Filter" (click)="$event.stopPropagation()" class="filter-input" (keyup)="filter('companyName', $event.target.value)" />
                    </div>
                </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.companyName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="contactName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <div class="column-header">
                        <span>Company Name</span>
                        <input placeholder="Filter" (click)="$event.stopPropagation()" class="filter-input" (keyup)="filter('contactName', $event.target.value)" />
                    </div>
                    Contact Name
                </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.contactName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="contactTitle">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <div class="column-header">
                        <span>Contact Title</span>
                        <input placeholder="Filter" (click)="$event.stopPropagation()" class="filter-input" (keyup)="filter('contactTitle', $event.target.value)" />
                    </div>
                </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.contactTitle}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="address">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <div class="column-header">
                        <span>Address</span>
                        <input placeholder="Filter" (click)="$event.stopPropagation()" class="filter-input" (keyup)="filter('address', $event.target.value)" />
                    </div>
                </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.address}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="city">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <div class="column-header">
                        <span>City</span>
                        <input placeholder="Filter" (click)="$event.stopPropagation()" class="filter-input" (keyup)="filter('city', $event.target.value)" />
                    </div>
                </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.city}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="region">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <div class="column-header">
                        <span>Region</span>
                        <input placeholder="Filter" (click)="$event.stopPropagation()" class="filter-input" (keyup)="filter('region', $event.target.value)" />
                    </div>
                </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.region}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="postalCode">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <div class="column-header">
                        <span>PostalCode</span>
                        <input placeholder="Filter" (click)="$event.stopPropagation()" class="filter-input" (keyup)="filter('postalCode', $event.target.value)" />
                    </div>
                </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.postalCode}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="country">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <div class="column-header">
                        <span>Country</span>
                        <input placeholder="Filter" (click)="$event.stopPropagation()" class="filter-input" (keyup)="filter('country', $event.target.value)" />
                    </div>
                </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.country}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="phone">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <div class="column-header">
                        <span>Phone</span>
                        <input placeholder="Filter" (click)="$event.stopPropagation()" class="filter-input" (keyup)="filter('phone', $event.target.value)" />
                    </div>
                </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.phone}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="fax">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <div class="column-header">
                        <span>Fax</span>
                        <input placeholder="Filter" (click)="$event.stopPropagation()" class="filter-input" (keyup)="filter('fax', $event.target.value)" />
                    </div>
                </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.fax}} </mat-cell>
            </ng-container>



            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>
        <mat-paginator #paginator [length]="resultsLength" [pageSize]="5" showFirstLastButtons>
        </mat-paginator>
    </div>