/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body{
    font-family: Roboto,"Helvetica Neue",sans-serif;
}
.title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
}

.sub-title{
    font-size: 18px;
}

.container{
    padding: 50px;
}

.header-container{
    display: flex;
    margin: 20px;
}

.column-selector-wrapper{
    padding: 8px;
    background-color: #fafafa;
    margin: -5px 20px 0;
    height: 20px;
}

.column-header{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 10px;
}

.filter-input{
    outline: 0;
    border: 0;
    border-bottom: 1px solid;
    background: #fafafa;
    max-width: 80%;
    margin: 10px 0;
}

.mat-table{
    border: 1px solid  #fafafa;
    border-radius:5px
}

.mat-header-row{
    background-color: #fafafa;
    border: 1px solid  #fafafa;
}

.mat-row{
    border: 1px solid  #fafafa;
}

.mat-header-cell{
    font-weight: bold;
    font-size: 18px;
    
}

.mat-select-hide{
   width:0;
   height:0;
}

.mat-select-arrow-wrapper{
    display: none !important;
}

.mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate{
    background: #b1adad;
}
.mat-option-text{
    color: #000;
}

.mat-cell{
    font-size: 16px;
}
.header{
    background-color: #003057;
    height:70px;
    display: flex;
    justify-content: flex-end;
}

.header-login{
    color: #fff;
    float: right;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 40px;
    background-color: #505759;
    padding: 10px;
    cursor: pointer;
}
.header-text{
    margin: 20px;
    font-size: 25px;
    font-weight: 800;
    color: #fff;
}

.form-container{
    margin-bottom: 40px;
}

.form-header{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 100;
}

.form-button{
    background-color: #1A8CaC;
    padding: 5px;
    border-radius: 5px;
    width: 100px;
    color: #fff;
}
